@page "/about"


    <PageTitle>About</PageTitle>
    <h1>About</h1>

    <div style="max-width:85%;">
        <h3>What is all this?</h3>

        <p>Trope-O-Matic is a fun way to help writers come up with ideas. You are dealt random cards that contain everything from genres, settings, character types, and tropes. The goal is to stir up ideas for whatever you are working on.</p>
        <br />
        <h3>Why would I use this?</h3>

        <p>
            The goal was for writers to be able to use the cards privately to come up with stories. However, that doesn't stop anyone from using it in a workshop or classroom setting.
            You could have everyone in the workshop/class generate a set of cards and then write a 750 word story using them as an exercise.
        </p>
        <br />
        <h3>Do I have to pay for it?</h3>

        <p>
            The original concept of the Trope-O-Matic was to have a printed deck of cards with hundreds of tropes and concepts written on them.
            Given the scope and cost of printing I decided to try my hand at making this into a website so that a wider range of people could use it.
        </p>

        Right now I have a donate button where you can support the project and help pay for hosting. There are no immediate plans for monetization to use the product.
        <br />
        <h3>Why on earth does it take multiple seconds to load?</h3>
        <p>
            So, this is made using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">
    .NET Blazor WASM</a> (Web Assembly) and C#. That means rather than the data sitting on a sever and being sent along as needed to your browser, you are downloading the entire site to run locally within the browser itself.
    If you have a poor internet connection you can still use the site just fine once it has loaded. I've got cell phone apps and games that take longer to load than this thing but if you are stuck with it spinning for more than a minute please contact me.
    The trade off is that there is little to no Javascript running on the site! Almost everything is CSS and SVG to save on space.
</p>

    </div>


    @code {

    }

