@page "/"

<PageTitle>Trope-O-Matic</PageTitle>

<h1>Welcome to the Trope-O-Matic!</h1>

Between writing excerises or help with a WIP, the Trope-O-Matic can help you take your story in a new direction. 
Simply choose how many tropes you want to use and the Trope-O-Matic will deal that many cards. 
<br><br>
<main class="main-area">
        
        <div class="centered">

            <section class="cards">   
<article class="card">
  @*<img class="card-img-top" src="..." alt="Card image cap">*@
  <div class="card-body">
    <h3 class="card-title">Step 1:</h3>
    <h5 class="card-text">Select how many cards you want to draw.</h5>
    <p>Choose from various formats in the menu to the left. Currently, the Trope-O-Matic let's you choose a specific number of cars. Genres and more coming in v2.</p>
  </div>
</article>

<article class="card">
  @*<img class="card-img-top" src="..." alt="Card image cap">*@
  <div class="card-body">
    <h3 class="card-title">Step 2:</h3>
    <h5>Click the button to be dealt your random Trope Cards.</h5>
    <p>When you click the dealer button your random trope cards will be displayed. The original concept was for the writer to use those specific tropes to complete a writing excerise.</p>
  </div>
</article>

<article class="card">
  @*<img class="card-img-top" src="..." alt="Card image cap">*@
  <div class="card-body">
    <h3 class="card-title">Step 3:</h3>
    <h5>Write something using the Trope Cards shown!</h5>
    <p>For example, I pick 3 cards and now have to write 750 words including those three things.</p>
    
  </div>
</article>
</section>
</div>
<br/>
<p>The original concept of the Trope-O-Matic was to have a printed deck of cards with hundreds of tropes and concepts written on them. Given the scope and cost of printing making this a web tool was much more feasible.</p>
</main>
@*<SurveyPrompt Title="Questions?" />*@
