@page "/"

<PageTitle>Trope-O-Matic</PageTitle>

<h1 style="text-align:center;">Welcome to the <br /> Trope-O-Matic!</h1>

<p style="margin-left: auto; margin-right: auto; width:75%;">
    Between writing excerises or help with a WIP, the Trope-O-Matic can help you take your story in a new direction.
    Simply choose how many tropes you want to use and the Trope-O-Matic will deal that many cards.
</p> 

    <main class="main-area">

        <div class="centered">

            <section class="cards">
                <article class="card">
                    <div class="card-body">
                        <h3 class="card-title">Step 1:</h3>
                        <h5 class="card-text">Select how many cards you want.</h5>
                        <p>Choose from various formats in the menu to the left. Currently, the Trope-O-Matic let's you choose a specific number of cars.</p>
                    </div>
                </article>

                <article class="card">
                    <div class="card-body">
                        <h3 class="card-title">Step 2:</h3>
                        <h5>Click the dealer button.</h5>
                        <p>Your random trope cards will appear, click to reveal each one.</p>
                    </div>
                </article>

                <article class="card">
                    <div class="card-body">
                        <h3 class="card-title">Step 3:</h3>
                        <h5>Use the Trope Cards shown!</h5>
                        <p>Write a short story, flash fic, novel or whatever you want with those three things.</p>

                    </div>
                </article>
            </section>
        </div>
    </main>
<br/>

