@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
            <NavMenu />
        </div>

    <main>

        <div class="top-row px-4">
            <a href="https://www.buymeacoffee.com/jetgirl" target="_blank">Support</a>
            <a href="https://twitter.com/tropeomatic" target="_blank">Share</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <div class="bottom-row px-4">
                <a href="https://github.com/jetgirlart/" target="_blank">Github    </a>
            
                <a href="https://jetgirl.art" target="_blank">©2023 Melinda Wyers</a>
        </div>
    </main>
</div>
