<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Trope-O-Matic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column" style="display: flex; height:100%;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="threetropes">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Three Tropes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sixtropes">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Six Tropes
            </NavLink>
        </div>
        <div style="flex:1 1 auto;"></div>

        <div class="nav-item px-3">
            <div style="height:150px; width:150px; background-image:url(profile.jpg); background-size:cover; border-radius:50%; margin:auto;"></div>
            <br />
            <p style="color:#fff;">Hi, I'm Melinda and this is my little project.</p>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mailto:tropeomatic@gmail.com">
                <span class="oi oi-bug" aria-hidden="true"></span> Report Issue
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
